body {
    font-family: Helvetica, Arial, Verdana, sans-serif; 
    font-size: 62.5%;
    background: #F2F0EC;
    min-width: 1000px;
    margin: 50px;
}

.dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
.dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

/* =tables */

table.tablesorter {
	margin: 10px 0pt 15px;
	width: 100%;
	border: 0;
	border-spacing: 2px;
	border-collapse: collapse;
}
table.tablesorter thead tr 
{
    background: url(../Images/header-bg-tile.jpg) repeat-x;
    color: #fff;
    height: 40px;
} 
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: transparent;
	border: 0px none;
	font-size: 1.2em;
	padding: 0px;
	height: 3em;
	text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(../Images/arrow-both.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding: 0px 0px 0px 12px;
	cursor: pointer;
	/* padding-left: 20px; */
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 0px;
	vertical-align: middle;
	border-bottom: 1px dotted #666666;
	height: 69px;
	font-size: 1.2em;
	background: #fff;
}
table.tablesorter tbody tr.odd td {
	background: #fff url(../Images/row-bg.png) repeat-x 0px 2px;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../Images/arrow-down.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../Images/arrow-up.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}

table.tablesorter tfoot td {height: 35px; vertical-align: middle;}
table.tablesorter span#spanPageInfo {position: relative; top: -3px;}


/* =form elements */

input, select, option {background: transparent; border: 0px; padding: 0px; margin: 0px; cursor: pointer;}

input#btnFirst {background: url(../Images/a-first.png) no-repeat; text-indent: -99999px; height: 15px; width: 0px; padding-right: 16px;}
input#btnPrevious {background: url(../Images/a-prev.png) no-repeat; text-indent: -99999px; height: 15px; width: 0px; padding-right: 18px;}
input#btnNext {background: url(../Images/a-next.png) no-repeat; text-indent: -99999px; height: 15px; width: 0px; padding-right: 18px;}
input#btnLast {background: url(../Images/a-last.png) no-repeat; text-indent: -99999px; height: 15px; width: 0px; padding-right: 16px;}

