/*----------------------------------------------------------
The base color for this template is #efefef. If you'd like
to use a different color start by replacing all instances of
#efefef with your new color.
----------------------------------------------------------*/
body
{
    background: #efefef url(../Images/bg.jpg);
    font-size: 62.5%;
    font-family: 'Yanone Kaffeesatz', Arial, Verdana, Helvetica, Sans-Serif;
    padding: 0;
    color: #696969;
    margin: 2em;
    border: 3px solid #fff;
    min-width: 1000px;
}
.ie body {min-width: 1200px;}
iframe body {border: 0px; margin: 0px;}

a:link
{
    color: #c5101c;
    text-decoration: none;
}
a:visited
{
    color: #c5101c;
    text-decoration: none;
}
a:hover
{
    color: #5a5858;
    border-bottom: 1px solid #5a5858;
}
a:active
{
    color: #be0e19;
    text-decoration: none;
}
a.img:hover {border-bottom: 0px;}
a img {border: 0px; position: relative; top: 2px; padding: 0 2px;}

p, li, td, th
{
    font-size: 1.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
}


/* jQuery Overwrites
----------------------------------------------------------*/

.ui-widget {font-family: 'Yanone Kaffeesatz', Arial, Verdana, Helvetica, Sans-Serif;
 background: #fff; border-top: 3px solid #333;
 box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);}
p.ui-widget, form .ui-widget {padding: .5em;}
.ui-widget p {line-height: 1em; padding: .5em; margin: 0px;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background: #cb0c19; border: 0px; border-top: 3px solid #000; color: #fff;}
.ui-corner-all {-moz-border-radius: 0px;}
.ui-icon, .ui-state-highlight .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/ui-lightness/images/ui-icons_ffffff_256x240.png) !important; position: relative; top: 3px;}
.connectedSortable li {cursor: pointer; font-size: 2em !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #C5101C; border: 1px solid #fff;}
.ui-sortable .ui-state-default {background: #F6F6F6;}
a.ui-state-default, .ui-widget-content a.ui-state-default, .ui-widget-header a.ui-state-default {color: #fff;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {border: 1px solid #C5101C; background: #333;}
.ui-widget input, .ui-widget textarea, .ui-widget button {padding: 0.25em 0.5em;}
input.ui-button {color: #fff;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {color: #fff;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 0.2em .5em 0.2em 2.1em;}
.dataTables_wrapper div {font-size: 1.4em; line-height: 1.4em;}

tr.odd {background-color: #ddd !important;}
tr.odd td.sorting_1 {background-color: #ccc !important;}
tr.even td.sorting_1 {background-color: #eee !important;}
th.ui-state-default, th.ui-widget-header .ui-state-default {color: #fff; border: 0px none; border-bottom: 2px solid #fff}
.ui-widget-header {background: #333; border: 0px; -moz-border-radius: 0px; border-radius: 0px;}

#users_paginate .ui-state-default, 
#users_paginate .ui-widget-content .ui-state-default, 
#users_paginate .ui-widget-header .ui-state-default {color: #fff;}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 3em;
    color: #000;
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

h1
{
    font-size: 5em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2 {padding: 0 0 10px 0;}
h3 {font-size: 3em;}
h4 {font-size: 2.5em;}
h5, h6 {font-size: 2em;}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}
.mono {font-family: Courier New, Courier New, monospace; font-size: 1.1em;}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%; min-height: 700px;
    margin-left: auto;
    margin-right: auto;
}
#top {background: url(../Images/bg-branding.jpg) repeat-x transparent; position: absolute; top: 0px; left: 0px; z-index: -1; height: 82px; width: 100%;}
#catbert {background: url(../Images/bg-catbert-short.jpg) no-repeat fixed bottom right; position: fixed; right: 0px; bottom: 0px; z-index: -1;}


#welcome {border-top: 3px solid #333; float: right; background: #fff; z-index:10; padding: 1em; position: absolute; top: 0px; right: 5em; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);}
#welcome p {margin: 0; text-align: right; line-height: 1.4em; font-size: 1.5em;}
#welcome a {text-transform: uppercase; letter-spacing: 1px; font-size: .9em;}

h2:first-child {display: inline-block; width: 49%;}
#pageactions {display: inline-block; width: 50%; text-align: right; margin-bottom: 0px;}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}


#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #c8c7c7;
    border: none;
    line-height: 2em;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 6em;
    text-shadow: 0px 2px 3px #fff;
    text-shadow: rgba(0,0,0,0.2) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.2) -1px -2px,  0px 2px 3px #fff;
}
#header h1 a {color: #C8C7C7;}
#header h1 a:hover {color: #c5101c; border-bottom: 0px;}

#main
{
    clear: both;
    margin-bottom: 60px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    margin: 6.4em 0 0;
    font-size: 1em;
    float: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
    font-size: 2em;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 0 10px 2px;
    font-weight: bold;
    text-decoration: none;
    color: #c5101c;
}

ul#menu li a:hover
{
    text-decoration: none;
    border-bottom: 3px solid #b0afaf;
}

ul#menu li a:active
{
    text-decoration: none;
}

ul#menu li.selected a
{
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: inline-block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 2em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.display-label, label {font-size: 1.2em; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; color: #aaa;}
.ui-widget label {font-size: 1.8em;}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
    padding: 0.25em 0.5em;
}
textarea {padding: 0.25em 0.5em;}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}


/* TABLE
----------------------------------------------------------*/

table 
{
  border-collapse: collapse; width: 100%;
  border-top: 3px solid #333; background: #fff; padding: 1em 2em; 
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
}

table thead {background: #efefef;}
table td {padding: 10px 5px 5px; border-top: 1px dashed #ccc;}
table th {padding: 10px 5px 5px; text-align: left;}

div#users-list {}


/* MISC  
----------------------------------------------------------*/
.clear {clear: both;}
.error {color: Red;}

#menucontainer {}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.ui-effects-transfer  
{
    border: 2px dotted gray; 
    z-index: 2000;
} 

img.back {position: relative; top: 3px;}