<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>

    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
            <property name="proxyfactory.factory_class">NHibernate.ByteCode.Spring.ProxyFactoryFactory, NHibernate.ByteCode.Spring</property>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="connection.connection_string_name">MainDB</property>
            <property name="default_schema">Catbert3.dbo</property>
            <property name="generate_statistics">true</property>
            <property name="adonet.batch_size">25</property>
            <property name="prepare_sql">true</property>
            <!--<property name="cache.provider_class">NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2</property>-->
            <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
            <property name="cache.use_second_level_cache">true</property>
            <property name="cache.use_query_cache">true</property>
        </session-factory>
    </hibernate-configuration>

    <appSettings file="AppSettings.config">
        <add key="jqueryTemplateUrl" value="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js" />
        <add key="LDAPUser" value="[External]" />
        <add key="LDAPPassword" value="[External]" />
        <add key="CatbertRoleService" value="http://localhost:32921/Catbert4/Public/Role.svc" />
        <add key="AuthToken" value="fake" />
      <add key="ClientValidationEnabled" value="false" />
      <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    </appSettings>

    <connectionStrings>
        <add name="MainDB" connectionString="Data Source=.\SQLExpress;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Ratbert" connectionString="Data Source=.\SQLExpress;Initial Catalog=Ratbert;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <elmah>
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RATBERT" applicationName="Catbert" />
        <errorMail from="srkirkland@ucdavis.edu" to="srkirkland@ucdavis.edu" subject="ELMAH Catbert web error response" smtpServer="smtp.ucdavis.edu" />
    </elmah>

    <system.web>
        
    <machineKey validationKey="3754D68A5016031D6C6869C1F0130C5C7C3E4DB8F536EA892FC52B417BF77DA3E954FAC8D4D189D4324816100FD52CF78755F3F3C1FBF4352F848C43920F5053" decryptionKey="B0C3E45C1A7E85D159CCFC36344E82316A95654A39D95D01A1C5F03B38945529" validation="SHA1" decryption="AES" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <customErrors mode="Off"></customErrors>
        
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" defaultUrl="/Home/Index" timeout="2880" />
    </authentication>

    <roleManager enabled="true" defaultProvider="CatbertRoleProvider" cacheRolesInCookie="false">
        <providers>
            <add name="CatbertRoleProvider" type="UCDArch.Web.Providers.CatbertRoleProvider" applicationName="Catbert" description="Catbert" connectionString="MainDB" />
        </providers>
    </roleManager>
    <!--<roleManager enabled="true" defaultProvider="CatbertRoleProvider" cacheRolesInCookie="false">
        <providers>
            <add name="CatbertRoleProvider" type="Catbert4.Providers.CatbertServiceRoleProvider" 
                 applicationName="Catbert" description="Catbert" serviceUrlKey="CatbertRoleService" authTokenKey="AuthToken"/>
        </providers>
    </roleManager>-->
        
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Catbert4.Controllers" />
        <add namespace="MvcContrib.FluentHtml" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="xVal.Html" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
    </modules>
  </system.webServer>

    <system.net>
        <mailSettings>
            <smtp from="automatedemail@caes.ucdavis.edu">
                <network host="smtp.ucdavis.edu"></network>
            </smtp>
        </mailSettings>
    </system.net>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.serviceModel>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Catbert4.Services.Wcf.RoleService" behaviorConfiguration="CustomAuthBehavior">
                <endpoint binding="basicHttpBinding" bindingConfiguration="RoleBindingConfiguration" contract="Catbert4.Services.Wcf.IRoleService"></endpoint>
            </service>
            <service name="Catbert4.Services.Wcf.MessageService" behaviorConfiguration="InternetBehavior">
                <endpoint address="json" binding="webHttpBinding" bindingConfiguration="MessageBindingConfiguration" contract="Catbert4.Services.Wcf.IMessageService"></endpoint>
                <endpoint binding="basicHttpBinding" bindingConfiguration="BasicMessageBindingConfiguration" contract="Catbert4.Services.Wcf.IMessageService"></endpoint>

            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="RoleBindingConfiguration">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="BasicMessageBindingConfiguration">
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="MessageBindingConfiguration">
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CustomAuthBehavior">
                    <serviceCredentials>
                        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Catbert4.Services.Wcf.ApplicationAuthorizationValidator, Catbert4" />
                    </serviceCredentials>
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="InternetBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>

