<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:hib="urn:nhibernate-configuration-2.2">
    <hib:hibernate-configuration>
        <hib:session-factory>
            <hib:property name="cache.provider_class" xdt:Transform="Replace" xdt:Locator="Match(name)">NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2</hib:property>
        </hib:session-factory>
    </hib:hibernate-configuration>
    
    <connectionStrings xdt:Transform="Replace">
        <add name="MainDB" connectionString="Data Source=terry;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Ratbert" connectionString="Data Source=terry;Initial Catalog=Ratbert;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    
    <system.web>
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>

    <system.serviceModel xdt:Transform="Replace">
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Catbert4.Services.Wcf.RoleService" behaviorConfiguration="CustomAuthBehavior">
                <endpoint
                          binding="basicHttpBinding"
                          bindingConfiguration="RoleBindingConfiguration"
                          contract="Catbert4.Services.Wcf.IRoleService"></endpoint>
            </service>
            <service name="Catbert4.Services.Wcf.MessageService" behaviorConfiguration="InternetBehavior">
                <endpoint
                          address="json"
                          binding="webHttpBinding"
                          bindingConfiguration="MessageBindingConfiguration"
                          contract="Catbert4.Services.Wcf.IMessageService"></endpoint>
                <endpoint
                          binding="basicHttpBinding"
                          bindingConfiguration="BasicMessageBindingConfiguration"
                          contract="Catbert4.Services.Wcf.IMessageService"></endpoint>

            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name = "RoleBindingConfiguration">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType ="UserName"/>
                    </security>
                </binding>
                <binding name="BasicMessageBindingConfiguration">
                    <security mode="Transport"></security>
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="MessageBindingConfiguration">
                    <security mode="Transport"></security>
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CustomAuthBehavior">
                    <serviceCredentials>
                        <userNameAuthentication
                        userNamePasswordValidationMode="Custom"
                        customUserNamePasswordValidatorType="Catbert4.Services.Wcf.ApplicationAuthorizationValidator, Catbert4"/>
                    </serviceCredentials>
                    <serviceMetadata httpsGetEnabled="true"  />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="InternetBehavior">
                    <serviceMetadata httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>